object.infographic {
    height: 1400px;
    width: 100%;
    overflow: auto;
}

.work_image img {
    height: 100px;
}

.work_text  {
    min-height: 85px;
    /*height: 75px;*/
}

.work_text_h3 {
    min-height: 95px;
}

.work_container {
    /*background-color: #F1F1F1;;*/
    /*border: #ccc solid 0.5px;*/
    height: 440px;
    padding-top: 25px;
}
/*.work_header h3  {*/
    /*min-height: 55px !important;*/
/*}*/
